.breadcrumb-main {
  display: flex;
}

.truncate {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ExportCSV-btn {
  display: flex;
  justify-content: end;

  Button {
    margin: 0 50px 10px 0;
  }
}

.table-responsive-xl {
  overflow-x: auto;
  margin-bottom: 5px;
}

.table-responsive-xl::-webkit-scrollbar {
  width: 0;
  height: 8px;
}

.table-responsive-xl::-webkit-scrollbar-thumb {
  background-color: grey;
}

.data-table {
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 5px 20px;
  margin: 0 30px 25px 30px;
  box-shadow: 0px 10px 20px rgb(178 191 210 / 25%);
  border-radius: 8px;
  position: relative;
  border: 1px solid #cececec4;

  .label {
    color: grey;

    &::selection {
      background-color: grey;
      color: var(--secondary-800);
    }
  }



  thead {
    background-color: #a9a9a9;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    text-transform: uppercase;

    .checkbox {
      width: 65px;
    }

    th {
      font-size: 12px;
      line-height: 1.14;
      opacity: 0.7;
      color: #000;
      font-weight: 500;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px 16px;
      vertical-align: middle;
      height: 48px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      text-align: center;
      text-wrap: nowrap;


      span {
        cursor: pointer;
      }

      i {
        font-size: 20px;
        vertical-align: middle;
      }
    }
  }

  tbody {
    border-bottom: 1px solid #cecece;

    tr {
      &~tr {
        border-top: 1px solid #cecece;
      }
    }

    tr.deleted-user {
      td {
        color: #e95353;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    td {
      font-size: 14px;
      color: var(--secondary-text-color);
      line-height: 1.63;
      text-align: left;
      padding: 16px;
      text-wrap: nowrap;
      vertical-align: middle;
      text-align: center;
      border-bottom: 1px solid var(--secondary-300);
      font-family: Arial, Helvetica, sans-serif;

      span.delete-user {
        color: #e95353;
        font-family: Arial, Helvetica, sans-serif;
      }

      span.user:hover {
        color: grey;
        cursor: pointer;
      }

      &:nth-child(2) {
        // text-align: left;
        text-align: center;
      }

      // &:not(:first-child):last-child {
      //   text-align: right !important;
      // }
    }
  }

}

.pagination {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:480px) {
  .pagination {
    .page-item {
      .page-link {
        padding: 3px 6px;
        font-size: 15px;
      }
    }
  }
}